html {
    scroll-behavior: smooth;
}

/* FONT */

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
body { font-family: 'Pretendard'; }
/* font weight : 100~ 900 */

/* FONT END */


/* UTILITY */

/* TEXT CSS */
    /* FONT SIZE */
    .font10 { font-size: 10px; }
    .font11 { font-size: 11px; }
    .font12 { font-size: 12px; }
    .font14 { font-size: 14px; }
    .font16 { font-size: 16px; }
    .font18 { font-size: 18px; }
    .font24 { font-size: 24px; }
    .font30 { font-size: 30px; }
    .font36 { font-size: 36px; }
    .font48 { font-size: 48px; }
    .font60 { font-size: 60px; }
    .font72 { font-size: 72px; }

    /* FONT COLOR */
    .color-black { color: #000; }
    .color-white { color: #fff; }
    .color-gray { color: #c1c1c1; }
    .color-darkgray { color: #6a6a6a; }
    .color01 { color: #6ba6b4; }
    .color02 { color: #59432b; }
    .color03 { color: #ac8453; }
    .color04 { color: #d7bd8c; }

    /* FONT STYLE */
    .italic { font-style: italic; }

    /* FONT WEIGHT */
    .font100 { font-weight: 100;}
    .font200 { font-weight: 200;}
    .font300 { font-weight: 300;}
    .font400 { font-weight: 400;}
    .font500 { font-weight: 500;}
    .font600 { font-weight: 600;}
    .font700 { font-weight: 700;}
    .font800 { font-weight: 800;}
    .font900 { font-weight: 900;}

    /* TEXT ALIGN */
    .text-center { text-align: center; }
    .text-left { text-align: left; }
    .text-right { text-align: right; }
    .text-justify {text-align: justify; }
    
    /* LINE HEIGHT */
    .lh1 { line-height: 1; }
    .lh12 { line-height: 1.2; }
    .lh14 { line-height: 1.4; }
    .lh16 { line-height: 1.6; }
    .lh18 { line-height: 1.8; }
/* TEXT CSS END */

/* DISPLAY */
    .block { display: block; }
    .flex { display: flex; }
    .inline { display: inline; }
    .inline-block { display: inline-block; }
/* DISPLAY END */

/* FLEX */
    .space-between { justify-content: space-between;}
    .flex-center { justify-content: center; }
    .flex-end { justify-content: flex-end; }
    .align-start { align-items: flex-start; }
    .align-center { align-items: center; }
    .align-end { align-items: end; }
    .flex-wrap { flex-wrap: wrap; }
    .flex-nowrap { flex-wrap: nowrap; }
    .flex-column { flex-direction: column; }
    .align-content-center { align-content: center;}
    .align-content-between { align-content: space-between;}
    .align-content-around { align-content: space-around;}
/* FLEX END */

/* POSITION */
    .relative { position: relative; }
    .absolute { position: absolute; }
    .fixed { position: fixed; }
/* POSITION END */

/* BGCOLOR */
    .bgcolor01 { background-color: #6ba6b4; }
    .bgcolor02 { background-color: #d7bd8c; }
    .bgcolor03 { background-color: #ac8453; }
    .bgcolor04 { background-color: #59432b; }
    .bgcolor-white { background-color: #fff; }
    .bgcolor-gray { background-color: #c1c1c1; }
    .bgcolor-sky { background-color: #f6fafa; }
    .bgcolor-beige { background-color: #ecdec3; }
/* BGCOLOR END */

/* UTILITY END */
   
/* GOLOBAL CSS */
section {
width: 100%;
}
.section-container {
width: 100%;
height: 100vh;
}
.section-inner {
margin: 0 auto;
width: 1200px;
}
/* GOLOBAL CSS END */

.wrap {
    position: relative;
    scroll-behavior:smooth;
}

/* SECTION */

/* FIXED NAV */
    .fixed-nav {
        position: fixed;
        margin-top: -154px;
        top: 50%;
        right: 3%;
        animation-name: nav;
        animation-duration: 2s;
        z-index: 100;
    }
    .fixed-nav li a {        
        margin: 20px 0;
        display: flex;
        align-items: center;
    }
    .nav-btn {
        width: 10px;
        height: 10px;
        background-color: #6a6a6a;
        border-radius: 100px;
    }
    .nav-title {
        margin-left: 8px;
        color: #6a6a6a;
    }
    .fixed-nav li a.on .nav-btn {
        background-color: #6ba6b4;
    }
    .fixed-nav li a.on .nav-title {
        color: #6ba6b4;
    }
    @keyframes nav {
        0% {
            opacity: 0;
            margin-top: -130px;
        }
        100% {
            opacity: 1;
            margin-top: -154px;
        }
    }
/* FIXED NAV END */

/* MAIN */
    .main-top {
        padding-top: 130px;
        animation-name: maintop;
        animation-duration: 0.8s;
        animation-timing-function: ease-in-out;
    }
    .main-top::after {
        position: absolute;
        display: block;
        content: '';
        width: 82px;
        height: 11px;
        bottom: 45px;
        background-color: #d7bd8c;
    }
    .main-title {
        font-size: 80px;
    }
    .main-sub-title {
        margin-top: 55px;
    }
    .main-bottom {
        margin-top: 300px;
        animation-name: mainbottom;
        animation-duration: 0.8s;
        animation-timing-function: ease-in-out;
    }
    .color-box {
        margin-left: 14px;
        width: 33px;
        height: 98px;
    }
    .main-name {
        margin-top: 30px;
    }
    .main-name::after {
        position: absolute;
        display: block;
        content: '';
        width: 747px;
        height: 1px;
        bottom: -5px;
        background-color: #6ba6b4;
        right: 0;
    }

    /* MAIN ANIMATION */
    @keyframes maintop { 
        0% {
            opacity: 0;
            left: -20px;
        }
        100% {
            opacity: 1;
            left: 0px;
        }
    }
    @keyframes mainbottom { 
        0% {
            opacity: 0;
            margin-right: -20px;
        }
        100% {
            opacity: 1;
            margin-right: 0px;
        }
    }
/* MAIN END */

/* SEC01 */ 
    .sec01 .section-inner {
        padding: 0 80px;
        box-sizing: border-box;
    }
    .sec01-title-container {
        padding-top: 45px;
        opacity: 0;
        transition: all 0.5s;
    }
    .sec01-title-container::before {
        position: absolute;
        display: block;
        content: '';
        width: 1px;
        height: 245px;
        left: -80px;
        top: 0;
        background-color: #6ba6b4;
    }
    .sec01-sub-title {
        margin-top: 10px;
    }
    .profile {
        margin-top: 30px;        
    }
    .portrait {
        margin-left: -30px;
        width: 230px;
        height: 270px;
        background-color: #59432b;        
        opacity: 0;
        transition: all 1s;
        transition-delay: 0.5s;
    }
    .profile-info {
        margin-left: 100px;
        opacity: 0;
        transition: all 1s;
        transition-delay: 0.5s;
    }
    .profile-info li {
        margin: 15px 0;
    }
    .profile-info li span {
        width: 57px;
    }
    .skill-container {
        margin-top: 80px;
    }
    .tool-container {
        margin-top: 20px;
        height: 263px;
    }
    .tool-icon {
        margin-right: 10px;
        width: 70px;
        height: 70px;
    }
    .tool-desc {
        margin-top: 20px;
    }
    .tools {
        opacity: 0;
        margin-top: 20px;
        transition: all 1s;
        transition-delay: 1s;
    }
    .skill {
        margin-left: 30px;
        padding-left: 30px;
        border-left: 2px solid #6ba6b4; 
        opacity: 0;
        margin-top: 20px;
        transition: all 1s;
        transition-delay: 1.2s;
    }
    .skill-list-container {
        margin-left: 40px;
    }
    .skill-desc {
        margin-left: 15px;
        box-sizing: border-box;
    }
    .skill-desc li {
        margin: 10px 0;
    }

    /* SEC01 ANIMATION */
    .sec01.active .sec01-title-container {
        padding-top: 65px;
        opacity: 1;
    }
    .sec01.active .portrait {
        margin-left: 0px;
        opacity: 1;
    }
    .sec01.active .profile-info {
        margin-left: 40px;        
        opacity: 1;
    }
    .sec01.active .tools,
    .sec01.active .skill {
        opacity: 1;
        margin-top: 0;
    }
/* SEC01 END */
/* SEC02 */
    .sns-container {
        margin: 6px 0;
        transform: translateY(30px);
        width: 290px;
        height: 290px;
        overflow: hidden;
        opacity: 0;
        transition: all 1s;
    }
    .sns-container img {
        transition: all 0.3s;
    }
    .sns-container:hover img {
        transform: scale(1.05);
        border-radius: 20px;
        box-shadow: 0 10px 15px rgb(0, 0, 0, 0.5);
    }
    .none-animation:hover {
        transition: none;
        transform: none;
        border-radius: 0;
        box-shadow: none;
    }
    .sns-title {
        padding-top: 12px;
        padding-left: 15px;
        box-sizing: border-box;
        transition-delay: 0.3s;
    }    
    .sns-content01 {
        transition-delay: 0.4s;
    }
    .sns-content02 {
        transition-delay: 0.5s;
    }
    .sns-content03 {
        transition-delay: 0.6s;
    }
    .sns-content04 {
        transition-delay: 0.7s;
    }
    .sns-content05 {
        transition-delay: 0.8s;
    }
    .sns-content06 {
        transition-delay: 0.9s;
    }
    .sns-content07 {
        transition-delay: 1s;
    }

    /* SEC02 ANIMATION */
    .sec02.active .sns-container {
        transform: translateY(0);
        opacity: 1;
    }
/* SEC02 END */
/* SEC03 */
    .sec03 .section-inner {
        padding-top: 75px;
    }
    .detail-title {
        opacity: 0;
        transform: translateX(30px);
        transition: all 1s;
    }
    .detail-title::before {
        position: absolute;
        display: block;
        content: '';
        width: 1057px;
        height: 4px;
        background-color: #6ba6b4;
        bottom: -20px;
        right: -98px;    
    }
    .detail-list {
        margin-top: 120px;
        margin-left: -30px;
        width: 1200px;
        height: 520px;
        overflow: hidden;        
        opacity: 0;
        transition: all 1s;
        transition-delay: 0.5s;
    }
    .detail-img {
        width: 300px;
        overflow: hidden;
        transition: all 0.3s;
    }
    .detail-img:hover {
        width: 500px;
    }
    .detail-overlay {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 520px;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0, 0.7);
        transition: all 0.3s;
    }
    .detail-img:hover .detail-overlay {
        opacity: 1;
    }
    /* SEC03 ANIMATION */
    .sec03.active .detail-title {
        opacity: 1;
        transform: translateX(0);
    }
    .sec03.active .detail-list {
        margin-left: 0px;
        opacity: 1;
    }
    
/* SEC03 END */
/* SEC04 */
    .catalog-title {
        padding-top: 125px;
        margin-bottom: 90px;
        transform: translateY(-30px);
        opacity: 0;
        transition: all 1s ease-in-out;
    }
    .catalog-thumbnail {
        margin: 0 24px;
        margin-bottom: 20px;
        width: 500px;
        overflow: hidden;
    }
    .catalog-thumbnail img {        
        transition: all 0.3s;
    }
    .catalog-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: 3;
        transform: translateY(100%);
        transition: all 0.3s;
    }
    .catalog-thumbnail:hover img {
        transform: scale(1.2);
    }
    .catalog-thumbnail:hover .catalog-overlay {
        transform: translateY(0);
    }
    .catalog-thumbnail-left {
        transform: translateX(-50px);
    }
    .catalog-thumbnail-right {
        transform: translateX(50px);
    }
    .catalog-thumbnail-left,
    .catalog-thumbnail-right {
        opacity: 0;
        transition: all 1s ease-in-out;
        transition-delay: 0.5s;
    }
    /* SEC04 ANIMATION */
    .sec04.active .catalog-title {
        transform: translateY(0);
        opacity: 1;
    }
    .sec04.active .catalog-thumbnail-left,
    .sec04.active .catalog-thumbnail-right {
        transform: translateX(0);
        opacity: 1;
    }
/* SEC04 END */
/* SEC05 */
    .works-title {
        margin-top: -30px;
        transform: translateY(-30px);
        opacity: 0;
        transition: all 1s ease-in-out;
    }
    .works-main-title {
        margin-top: -5px;
    }
    .works-list-container {
        margin-top: 40px;
    }
    .works-content {
        display: none;
    }
    .works-content.show {
        display: block;
    }
    .works-view {
        width: 885px;
        height: 648px;
        text-align: center;
        overflow: hidden;
        transform: translateY(30px);
        opacity: 0;
        transition: all 1s ease-in-out;
        transition-delay: 0.5s;
    }
    .works-content-web-img {
        width: 885px;
        height: 600px;
        overflow: hidden;
    }
    .works-content-web-img img {
        width: 885px;
        object-fit: cover;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }  
    .swiper-slide {
        text-align: center;
    }
    .works-event-page-img {
        width: 100%;
        height: 550px;
        overflow: hidden;
    }
    .works-event-page-img img {
        transition: all 0.3s;
    }
    .works-event-page-img img:hover {
        transform: scale(1.05);
    }
    .works-event-tile {
        margin-top: 20px;
    }
    .banner-bottom {
        margin: 20px 0;
    }
    .web-link {
        margin-top: 30px;
    }
    .works-menu-container {
        margin-top: 65px;
        transform: translateX(30px);
        opacity: 0;
        transition: all 1s ease-in-out;
        transition-delay: 0.5s;
    }
    .works-menu {
        margin: 20px 0;
    }
    .works-menu-btn {
        display: block;
        width: 19px;
        height: 9px;
        background-color: #c1c1c1;
        border-radius: 100px;
        transition: all 0.3s;
    }
    .works-menu.show .works-menu-btn {
        background-color: #6ba6b4;
    }
    .works-menu-title {
        margin-left: 5px;
        font-size: 16px;
        font-weight: 300;
        color: #c1c1c1;
        transition: all 0.3s;
    }
    .works-menu.show .works-menu-title {
        color: #6ba6b4;
        font-weight: 400;
    }

    /* SEC05 ANIMATION */
    .sec05.active .works-title {
        transform: translateY(0);
        opacity: 1;
    }
    .sec05.active .works-view {
        transform: translateY(0px);
        opacity: 1;
    }
    .sec05.active .works-menu-container {
        transform: translateX(0px);
        opacity: 1;
    }
/* SEC05 END */
/* SEC06 */
    .project-title {
        padding-top: 60px;
        transform: translateX(-30px);
        opacity: 0;
        transition: all 1s;
    }
    .project-title::after {
        position: absolute;
        display: block;
        content: '';
        width: 48px;
        height: 5px;
        background-color: #6ba6b4;
        left: 50%;
        margin-left: -24px;
        bottom: -20px;
    }
    .project-nav {
        margin-top: 40px;
        transform: translateX(30px);
        opacity: 0;
        transition: all 1s;
    }
    .project-nav-title-container li {
        margin: 0 20px;
        width: 120px;
    }
    .project-nav-title-container li.show {
        color: #6ba6b4;
        font-weight: 500;
    }
    .project-nav-controller-container {
        margin-top: 15px;
    }
    .project-nav-controller-container li {
        margin: 0 70px;
        width: 15px;
        height: 15px;        
        border: 1px solid #6ba6b4;
        border-radius: 100%;
        text-indent: -9999px;
        overflow: hidden;
        transition: all 0.3s;
        z-index: 10;
    }
    .project-nav-controller-container::after {
        position: absolute;
        display: block;
        content: '';
        width: 613px;
        height: 2px;
        top: 7.5px;
        left: 294px;
        background-color: #6ba6b4;
    }
    .project-nav-controller-container li.show {
        background-color: #6ba6b4;
    }
    .project-img {
        margin: 50px auto;
        width: 800px;
        height: 430px;
        overflow: hidden;
        transform: translateY(20px);
        opacity: 0;
        transition: all 1s ease-in-out;
        transition-delay: 0.3s;
    }
    .project-desc-container {
        transform: translateY(-20px);
        opacity: 0;
        transition: all 1s ease-in-out;
        transition-delay: 0.3s;
    }
    .project-desc-title::after {
        position: absolute;
        content: '';
        display: block;
        width: 40px;
        height: 5px;
        background-color: #6ba6b4;
        bottom: -12px;
        left: 50%;
        margin-left: -20px;
    }
    .project-desc {
        margin-top: 23px;
    }
    .project-link {
        margin-top: 5px;
    }
    .project-link button {
        background: none;
        border: none;
    }
    .project-view {
        display: none;      
    }
    .project-view.show {
        display: block;
    }

    /* SEC06 ANIMATION */
    .sec06.active .project-title,
    .sec06.active .project-nav {
        transform: translateX(0);
        opacity: 1;
    }
    .sec06.active .project-img,
    .sec06.active .project-desc-container {
        transform: translateY(0);
        opacity: 1;
    }
/* SEC06 END */
/* SECTION END */
/* FOOTER */
    footer {
        width: 100%;
        padding: 35px 0;
    }
    .footer-inner {
        width: 1200px;
        margin: 0 auto;
    }
    .footer-name::after {
        position: absolute;
        display: block;
        content: '';
        width: 40px;
        height: 3px;
        background-color: #6ba6b4;
        bottom: -10px;
        left: 0;
    }
    .footer-desc {
        margin-top: 20px;
    }
    .footer-desc li {
        margin-right: 14px;
    }
    .footer-desc li::after {
        position: absolute;
        display: block;
        content: '';
        width: 1px;
        height: 14px;
        background-color: #6ba6b4;
        top: 3px;
        right: -9px;
    }
    .footer-desc li:last-child:after {
        display: none;
    }
    .footer-copyright {
        margin-top: 5px;
    }
/* FOOTER END */